# pip install -r requirements.txt # --no-index --find-links file:///tmp/packages

jinja2
chardet
click
werkzeug
tqdm

rpy2
gpy
lifelines
# minepy #==1.2.2 # problematic on windows?
pyclustering
graphviz
requests
xlsxwriter
watermark
cvxpy
tzlocal
pacal
qgrid
simplegeneric
bs4
dateparser
filterpy
simdkalman
yfinance
empyrical
pyfolio
flatten_json
phonenumbers
# fuzzy_pandas
tabula-py
camelot-py[cv]
pikepdf
excalibur-py
# psycopg2
SQLAlchemy
alembic
psycopg2
tika
urlextract # https://github.com/lipoja/URLExtract
idna
uritools
appdirs
dnspython
python-magic
daft
trading_calendars
pandas_market_calendars
numpy_financial
optuna
sacred
plotly
networkx[all]
pyvis
shareplum
atlassian-python-api
jellyfish
ytmusicapi
jcs
geopy
pyarrow
paho-mqtt
dataclasses-json
influxdb-client
ordered-set
plotly
bokeh
vobject
openai
redlines
python-dotenv
markdown-it-py[linkify,plugins]
mdformat
ephem
pvlib