# pip install -r requirements.txt # --no-index --find-links file:///tmp/packages
# numpy==1.19.2
# daal==2021.1.2
# dpcpp_cpp_rt==2021.1.2

jinja2==3.0.1
chardet==4.0.0
click==8.0.1
werkzeug==1.0.1
tqdm==4.61.1

rpy2
gpy #==1.9.6
lifelines #==0.15.1
# minepy #==1.2.2 # problematic on windows?
pyclustering
graphviz #==0.10.1
requests #==2.20.1
xlsxwriter
tqdm
watermark
cvxpy
# pymc
tzlocal
pacal
qgrid
simplegeneric
bs4
dateparser
filterpy
simdkalman
yfinance
empyrical
pyfolio
flatten_json
phonenumbers
fuzzy_pandas
tabula-py
camelot-py[cv]
pikepdf
excalibur-py
# psycopg2
SQLAlchemy
alembic
tika
urlextract # https://github.com/lipoja/URLExtract
idna
uritools
appdirs
dnspython
python-magic
pymc3
daft
trading_calendars
pandas_market_calendars
